@import "/src/components/sass/reutilizables/colors";

@media (min-width: 847px) {
  .modal-content {
    background-color: $Principal-blanco;
    border-radius: 30px;
    padding: 20px 50px;
    font-family: "give-away";
    width: fit-content;
    margin: auto;
    //height: 320px;
  }
  .modal-header {
    border-bottom: none !important;

    svg {
      cursor: pointer;
    }

    p {
      text-align: right;
      width: 100%;
      font-size: 45px;
    }
  }

  .modal-body {
    text-align: center;
    padding: 0;
    img {
      width: 50px;
      padding: 20px 0;
    }
    p {
      font-size: 25px;
      line-height: 1;
      margin: auto;
    }
  }
  .modal-footer {
    padding-top: 30px;
    margin: auto;
    border-top: none !important;
    button {
      font-size: 20px;
      font-family: "abygaer";
    }
  }

  .modal-confirmacionInvitacion {
    margin: 0px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 846px) {
  .modal-content {
    background-color: $Principal-blanco;
    border-radius: 30px;
    font-family: "give-away";
    margin: 0 20px;
  }
  .modal-header {
    border-bottom: none !important;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0;
    p {
      font-size: 35px;
      margin: 0;
    }
    svg {
      cursor: pointer;
    }
  }
  .modal-body {
    text-align: center;
    padding: 0;

    img {
      width: 40px;
      padding: 10px 0;
    }
    p {
      margin: 0;
    }
  }
  .modal-footer {
    border-top: none !important;
  }

  .modal-confirmacionInvitacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}
