@import "../reutilizables/colors";
@import "../reutilizables/Tipografias";

body {
  font-family: "give-away";
  text-transform: uppercase;
  color: $Principal-azul;
  p {
    text-align: center;
    line-height: 1;
    font-size: 32px;
    margin: 0;
    color: $Principal-azul;
  }
  button {
    padding: 20px 30px;
    border: none;
    font-weight: 100;
    color: $Principal-blanco;
    font-size: 15px;
    border-radius: 9999px;
    background-color: $Principal-azul;
    text-transform: uppercase;
    font-family: "abygaer";
  }

  input {
    border-radius: 9999px;
    padding: 20px 30px;
    border: 1px solid $Principal-azul;
    outline: none;
    font-size: 20px;
  }

  .seccion-contador,
  .sobreEvento-icono,
  .sobreEvento-lugar-ubicacion,
  .seccion-regalos {
    img {
      width: 60px;
      margin: auto;
    }
  }

  .seccion-sobreEvento,
  .seccion-contador,
  .seccion-carousel,
  .seccion-regalos,
  .seccion-formulario {
    padding: 150px 4vw;
  }

  .hero-section,
  .seccion-carousel,
  .seccion-formulario {
    background-color: $Principal-blanco;
  }

  .seccion-regalos,
  .seccion-sobreEvento {
    background-color: $Principal-beige;
    .titulo-imagen {
      text-align: left;
      img {
        width: 386px;
      }
    }
  }

  .hero-section,
  .seccion-contador,
  .seccion-carousel {
    background-color: $Principal-blanco;
  }

  /*  @keyframes ZoomIn {
        0% {
          opacity: 1;
          transform: scale(0.95);
        }
        50% {
          opacity: 1;
          transform: scale(1);
        }
        100% {
          opacity: 1;
          transform: scale(0.95);
        }
      } */

  .link-administrador {
    a {
      text-decoration: none;
      p {
        margin: 0;
        text-align: right;
      }
    }
  }
}

@media (max-width: 846px) {
  body {
    p {
      font-size: 20px;
      font-family: "abygaer";
    }
    button {
      font-size: 12px;
    }

    input {
      border-radius: 9999px;
      padding: 20px 30px;
      border: 1px solid $Principal-azul;
      outline: none;
      font-size: 15px;
    }
    .seccion-contador,
    .sobreEvento-icono,
    .sobreEvento-lugar-ubicacion,
    .seccion-regalos {
      img {
        width: 40px;
        margin: auto;
      }
    }

    .seccion-regalos,
    .seccion-sobreEvento {
      background-color: $Principal-beige;
      .titulo-imagen {
        text-align: left;
        img {
          width: 250px;
        }
      }
    }

    .seccion-sobreEvento,
    .seccion-contador,
    .seccion-carousel,
    .seccion-regalos,
    .seccion-formulario {
      padding: 50px 4vw;
    }
  }
}
